.HtmlBox {
    padding: 10px;
    width: 55%;
    height: 90%;
    color: white;
    background-color: #454752;
    border-color: #FFFFC1;
    font-size: 26px;
}

.ReplaceText {
    position: fixed;
    left: 10px;
    top: 10px;
}

.Text {
    font-size: 26px;
}