.HtmlBox {
    padding: 10px;
    width: 55%;
    height: 90%;
    color: white;
    background-color: #454752;
    border-color: #FFFFC1;
    font-size: 26px;
}

.ReplaceText {
    position: fixed;
    left: 10px;
    top: 10px;
}

.Text {
    font-size: 26px;
}

.CodePredictionBox {
    position: fixed;
    background-color: #2c2c32;
    border-color: aliceblue;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}

.CodePrediction {
    color: white;
}