body {
    background-color: palevioletred;
}

.Cont {
    margin: 10px;
}

.In {
    font-size: 26px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    padding: 10px;
    text-align: center;
}

.Box {
    border-radius: 20%;
    width: 700px;
    color: palevioletred;
    background-color: #4b4646;
    font-size: 30px;
    padding: 20px;
}